*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(220, 220, 248);
}
.name{
    font-size: 80px;
    color: rgb(1, 1, 121);
    font-weight: 700;
}
.changeNum{
    font-size: 100px;
    color: rgb(39, 39, 39);
    font-weight: 700;
    margin: 20px 0px;
}
.decBtn{
    border: 2px solid rgb(186, 2, 2) ;
    color:rgb(186, 2, 2) ;
    background-color: white;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 700;
}
.decBtn:hover{
    border: 2px solid rgb(186, 2, 2) ;
    background-color:rgb(186, 2, 2) ;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.resetBtn{
    border: 2px solid rgb(39, 39, 39);
    color:rgb(39, 39, 39) ;
    background-color: white;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 700;
    margin: 0px 15px;
}
.resetBtn:hover{
    background-color:rgb(39, 39, 39) ;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.incBtn{
    border: 2px solid rgb(26, 105, 26);
    color:rgb(26, 105, 26);
    background-color: white;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 700;

}
.incBtn:hover{
    border: 2px solid rgb(26, 105, 26);
    background-color:rgb(26, 105, 26) ;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.countContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}